<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheet/stars.css">



<div class="row">

<div class="col-6  ">

<!-- carousel -->


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
         

          <div class="carousel-inner">
            <% for(let img of camps.images){ %>

            <div class="carousel-item active">
                  <img src="<%= img.url %>" class="d-block w-100" alt="...">
            </div>
            <% } %>
          </div>
          <% if(camps.images.length>1) {%>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
</div>



  <div class="card mb-3" >

      
    
     
    <div class="card-body">
      <h5 class="card-title"><%= camps.title %></h5>
      <p class="card-text"><%=camps.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-body-secondary">Location: <%=camps.location%></li>
      <li class="list-group-item ">Submitted By: <%=camps.author.username%></li>
      <li class="list-group-item">Price: $<%=camps.price %>/night</li>
      <!-- <li class="list-group-item">A third item</li> -->
    </ul>
    <div class="card-body">
      <a href="/campgrounds" class="btn btn-primary">All Campground</a>

      <%  if(currentUser && camps.author.equals(currentUser)){ %>

        <a href="/campgrounds/<%=camps._id%>/edit" class="btn btn-info ms-3">Edit</a>

      <% } %>

      <form  class="d-inline ms-3" action="/campgrounds/<%=camps._id%>?_method=DELETE" method="post">
    
      <% if(currentUser && camps.author.equals(currentUser)) { %>
    
        <button class="btn btn-danger">Delete</button>

        <% } %>
  </form>

    </div>
  </div>



</div>
<div class="col-6">
  
  <form action="/campgrounds/<%= camps._id %>/review" class="mb-3  needs-validation" method="post" novalidate>

    <% if(currentUser){ %>
    <h2 >Leave a Review</h2>
    <div class="mb-3">
      <label   class="form-label" for="rating">Rating</label>
      <input type="range"    class="form-range" min="1" max="5" name="review[rating]"   id="rating">
   
   
   
    </div>
  
    
    


    <div class="mb-3">
      <label   class="form-label" for="body">Review</label>
      <textarea   class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
    </div>
    
    <button  class=" btn btn-success">Submit</button>
      <% } %>
    
    <div id="map"  style="width: 600px; height: 300px; margin-top: 10px; border-radius: 5px;"></div>

</form>
<% for(let review of camps.reviews){%>
<div class="card mb-3">

<div class=" card-body">
  <!-- <h5 class="card-title text-muted" >Rating: <%=review.rating  %></h5> -->
 
  
  <p class="starability-result" data-rating="<%=review.rating  %>"></p>
 
  <h6 class="card-subtitle mb-2 text-muted">By:<%= review.author.username %></h6>
 
  <p>Review: <%= review.body %></p>
  <% if(currentUser && review.author.equals(currentUser)) { %>
  <form action="/campgrounds/<%= camps._id %>/review/<%= review._id %>?_method=DELETE" method="post">

      <button class="btn btn-danger">Delete</button>

</form>
<% } %>
</div>

</div>


<%} %>


</div>


</div>

  <script>
      const mapToken='<%-process.env.MAPBOX_TOKEN %>';
      let result={features:JSON.parse( '<%- JSON.stringify(camps) %>') };
      // result=JSON.parse(result);
    </script>

<script src="/javascript/ShowPageMap.js"></script>



















